article.tweet {
  width: 80%;
  margin: 8px;
  margin-top: 50px;
  margin-left: 45px;
  box-sizing: border-box;
  border: 2px solid #bfbaba;
  border-radius: 8px;
  background-color: #fff;
  height: 202px;
}

article.tweet header {
  width: 100%;
  margin-top: 0px;
  padding-left: 10px;
  padding-bottom: 0px;
  background-color: #eeeeee;
  margin-bottom: 5px;
  padding-top: 0px;
  content: "";
  clear: both;
  display: table;
}

article.tweet h2.name {
  border: 2px;
  padding-left: 5px;
  display: inline;
}

article.tweet span.username {
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}

article header .tweet-img {
  border-style: none;
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 9px;
}

div.the-tweet {
  height: 82px;
  padding-left: 10px;
  padding-top: 25px;
  border-bottom: 1px solid #eeeeee;
  overflow-wrap: break-word;
  padding-right: 5px;
}

footer {
  padding-left: 10px;
  padding-top: 10px;
}

.heart {
  padding-right: 10px;
  float: right;
  padding-top: 4px;
  opacity: 0
}

.flag {
  float: right;
  position: relative;
  right: 22px;
  bottom: -3px;
  opacity: 0
}

.retweet {
  float: right;
  position: relative;
  right: 40px;
  bottom: -3px;
  opacity: 0
}

.error1 {
  margin: auto;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed',
    sans-serif;
}

.error2 {
  margin: auto;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed',
    sans-serif;
}



/* HOVER-STATE*/

article.tweet:hover {
  border: 2px solid rgb(11, 104, 103);
}

article.tweet:hover .heart {
  padding-right: 10px;
  float: right;
  padding-top: 4px;
  opacity: 100
}

article.tweet:hover .retweet {
  float: right;
  position: relative;
  right: 40px;
  bottom: -3px;
  opacity: 100
}

article.tweet:hover .flag {
  float: right;
  position: relative;
  right: 22px;
  bottom: -3px;
  opacity: 100
}
